.producto__imagen{
    height:120px;
    width:100px;
    display: block;
    margin:40px;
    padding:10px;
}
.container-product{
    display: inline-flex;
    flex: auto;
}
.producto{
    margin-top:25px;
    margin-bottom:auto;
    margin-right:0;
    margin-left:0;
    padding:20px;
    background-color:rgb(255, 255, 255);
    border-right: 1px solid grey;
    display: block;
}
p{

    font-size: 9pt;
    text-align: center;
}

.producto__nombre{
    color:blue;
    font-size: 13pt;
}
.producto__precio{
    color:red;
    font-size:15pt;
}
#btn__add{
    text-align: center;
    justify-self: center;
}


/*   ---- ##    CART    ##----   */
.cart{
    margin:5px 0px;
    border:1px solid black;
    height: 100%;
    width: auto;
}
#cont{
    position: relative;
}
.cart__item{
    align-items: center;
    text-align: center;
    display: inline-flex;
    width:auto;
    margin:auto;
    padding:auto;
    flex-flow: row;
    
}
.cart__item h5{
    margin:0 5px;
    font-size: 9pt;

}
.cart .cart__item__image{
    padding: 5px 10px;
    height: 70px;
    width: 60px;
}

.cart__items__quantity{
    display: block;
    margin:auto 5px;
    text-align: center;
    font-style: oblique;
    color:white;
    padding:auto;
}


#btn__add{
    background-color: #fbbc1e;
}

/*  ###  Header  ###*/

#header{
    background-color:#dbdbdb;
}

.pick-up{
    width:24px;
    height:24px;
    background-color: #fbbc1e;
    border-radius: 50%;
    margin:auto 5px;
   
    
}
.pick-up p{
    display: block;
    margin:auto;
    text-align: center;
}

.icons-cart{
    display: flex;
    margin:auto;
    box-sizing: border-box;
}

#pull-right{
    display: inline-flex;
    margin-right:0;
    margin-left:75%;
}


#bask{
    display: inline-block;
    margin-top:auto;
    margin-bottom:auto;
    margin-right:0;
    margin-left:40px;
}

/* Slide carousel */


.carousel-inner{
    margin-top:0px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
} 
.carousel-inner img{

    height: 500px;
}

/* fila info */
#colp{
    background: #fbbc1e;
}

.lista_informacion li{

    margin:auto 15px;
    list-style: none;
}
.lista_informacion li a{
    color:black;
}
.lista_informacion{
    display:inline-flex;
}

.cart-footer{

    display: block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 80px;
  }

  #contenido-footer{
    background: #fbbc1e;

  }